@import '../../styles/variables';

.async-text-field {
  input {
    &.is-loading {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
    }
  }
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .progress {
    &.is-small {
      height: 1px !important;
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
