@import '../../styles/variables';

.overlay-modal-layout {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100% !important;
  margin: 0 !important;
  background-color: $gray-background-default;
  max-height: calc(100vh / 12 * 11) !important;
  overflow: hidden !important;

  &.is-half {
    height: 50vh;
    animation: slide-half 0.4s ease-out;
  }

  &.is-seven-eighths {
    height: calc(100vh / 8 * 7);
    animation: slide-seven-eighths 0.4s ease-out;
  }

  .modal-header {
    height: 5rem;
    border-bottom: 2px solid $gray-shadow-default;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: $font-size-big;
      line-height: 1.1875rem;
      text-align: center;
      letter-spacing: 0.18em;
      color: $black;
      text-transform: uppercase;
    }
  }

  .modal-header {
    h2 {
      font-weight: $bold-text;
      font-size: $font-size;
      letter-spacing: $letter-spacing-default;
    }
  }
  .modal-body {
    flex-direction: column;
    .modal-select-options {
      width: 100%;

      .modal-option {
        cursor: pointer;

        width: 100%;
        height: 78px;
        align-items: center;
        flex-direction: row;

        &:not(:first-child) {
          border-top: 2px solid $gray-shadow-default;
        }
        span {
          font-size: $font-size-huge;
          line-height: 20px;
          letter-spacing: $letter-spacing-default;
          color: $black;

          &.text {
            flex-grow: 1;
          }

          &.text-left {
            font-weight: $bold-text;
          }
        }
      }
    }

    .backup-warning {
      span {
        font-size: $font-size;
        line-height: 19px;
        letter-spacing: $letter-spacing-default;
        color: $gray-text-alt2;

        &.highlighted {
          font-weight: $bold-text;
        }
      }
    }
  }
}

@keyframes slide-half {
  0% {
    height: 0;
  }
  100% {
    height: 50vh;
  }
}

@keyframes slide-seven-eighths {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh / 8 * 7);
  }
}
