@import '~@sunpower/theme-dark/styles/variables';

.error-list-detected {
  background: $black;
  padding: 0 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .button-transparent {
    color: $sun;
    border: 1px solid $sun;
  }
  .title-error {
  }
}
