@import "../../styles/variables";

.period-selector {
  width: 100%;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.modal-select-options {
  flex: 1;
}
.date-option {
  &:not(:first-child) {
    border-top: 2px solid $gray-shadow-default;
  }
  width: 100%;

  .option-text {
    font-size: $font-size-big;
    line-height: 20px;
    letter-spacing: $letter-spacing-default;
    color: $gray-text-alt2;

    &.text {
      flex-grow: 1;
    }

    &.text-left {
      font-weight: $bold-text;
    }
  }

  &.disabled {
    .option-text {
      color: $gray-text-alt !important;
    }
  }
}
