@import "../../styles/variables";

.right-now {
  h1 {
    text-align: center;
    color: $white;
    font-weight: $bold-text;
    letter-spacing: $letter-spacing-big;
  }

  .power-cycle {
    display: flex;
    height: 360px;
    justify-content: center;
    background-image: url("assets/ellipse.png");
    background-repeat: no-repeat;
    background-position: center center;
    .left-column {
      display: flex;
      align-items: center;
    }
    .central-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .right-column {
      display: flex;
      align-items: center;
    }
    .battery-level {
      color: $white;
      font-size: $font-size;
      font-weight: $bold-text;
    }
    .arrow-unit {
      font-size: 0.75em;
      font-weight: bold;
    }
    .hub-state {
      font-size: $font-size;
      font-weight: bold;
      letter-spacing: 0;
    }
  }
}
