@import '~@sunpower/theme-dark/styles/variables';

.mi-data-live {
  .power-production {
    .count-value {
      line-height: initial;
    }

    .power-row {
      display: grid;
      grid-template-columns: 60% 1fr;
    }

    .error {
      color: $error-red;
    }
  }
}
