@import '~@sunpower/theme-dark/styles/variables';

.collapsible {
  background-color: $silver-sand4;
  text-align: left;
  padding: $font-size-big $font-size-big $font-size;
  font-family: $font;
  letter-spacing: 0;
  border-radius: 5px;

  &-header {
    color: $white;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 15% 20px;
    margin-bottom: 5px;
  }

  &-trigger {
    text-align: center;

    .chevron {
      transition: 0.3s all ease-in-out;
      cursor: pointer;
      transform: rotate(180deg);
      color: $sun;
    }

    .down {
      transform: rotate(0deg);
    }
  }

  &-title {
    display: flex;
  }

  &-actions {
    text-align: right;
    padding-right: 15px;
  }

  &-content {
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.4s;
  }

  .collapsed {
    max-height: 0;
    overflow: hidden;
  }

  .expanded {
    max-height: 700px;
    overflow-y: scroll;
    opacity: 1;
    border-top: 1px solid #f2f2f22e;
    padding-top: 10px;
    margin-top: 10px;
  }
}
