@import "../../styles/variables";

.modal-item {
  box-shadow: 4px 4px 4px $gray-shadow-default;
  background: $white;
  color: $black;
  border: 2px solid $gray-border-default;
  padding: 2em 0;

  &.fit-screen {
    flex-grow: 1;
  }

  .left {
    text-align: left;
    padding: 0 2em 2em 2em;
  }

  .right {
    text-align: right;
    padding: 0 2em 2em 2em;
  }

  .center {
    padding: 0 0 2em;
    letter-spacing: $letter-spacing-big;
  }

  .subtitle {
    color: $gray-text-alt2;
    font-weight: $regular-text;
    border-bottom: 2px dashed $gray-border-default;
  }

  .title {
    letter-spacing: $letter-spacing-big;
  }

  .modal-separator {
    width: 50px;
    border-bottom: 1px solid $orange-default;
    margin: 0 auto 20px;
  }
}
