@import '~@sunpower/theme-dark/styles/variables';

.legacy-discovery {
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  .legacy-discovery__title {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
    justify-content: center;
  }

  .discovery-percentage {
    line-height: 3rem;
  }

  .device-item {
    display: grid;
    grid-template-columns: 90% 1fr;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px solid;

    button {
      background: transparent;
      border: none;
    }
  }
}
