<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sunpower.energylink.commissioning2.test" version="6.5.2" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SunPowerProConnect-dev</name>
    <description>
        PVS Commissioning by SunPower
    </description>
    <author>
        SunPower Corporation
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <allow-navigation href="data:*" />
    <allow-intent href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <preference name="android-targetSdkVersion" value="29" />
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon src="www/res/icon/android/com.sunpower.energylink.commissioning2.test/icon.png" />
        <splash density="port-ldpi" src="www/res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="www/res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <hook src="extend_build_phase.js" type="after_platform_add" />
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="Allow3DTouchLinkPreview" value="false" />
        <preference name="UseSwiftLanguageVersion" value="4" />
        <preference name="DisallowOverscroll" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file mode="add" parent="ITSAppUsesNonExemptEncryption" target="*-Info.plist">
            <false />
        </config-file>
        <icon height="1024" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/1024.png" width="1024" />
        <icon height="29" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/29.png" width="29" />
        <icon height="58" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/58.png" width="58" />
        <icon height="87" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/87.png" width="87" />
        <icon height="40" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/40.png" width="40" />
        <icon height="80" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/80.png" width="80" />
        <icon height="120" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/120.png" width="120" />
        <icon height="50" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/50.png" width="50" />
        <icon height="100" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/100.png" width="100" />
        <icon height="57" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/57.png" width="57" />
        <icon height="114" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/114.png" width="114" />
        <icon height="72" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/72.png" width="72" />
        <icon height="144" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/144.png" width="144" />
        <icon height="76" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/76.png" width="76" />
        <icon height="152" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/152.png" width="152" />
        <icon height="167" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/167.png" width="167" />
        <icon height="180" src="www/res/icon/ios/com.sunpower.energylink.commissioning2.test/180.png" width="180" />
        <splash src="www/res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="www/res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="www/res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="www/res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="www/res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
        <string>need photo library access to get pictures from there</string>
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.1.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-network-information" spec="^2.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
    <plugin name="cordova-plugin-file-downloader" spec="^0.4.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="^5.0.0">
        <variable name="URL_SCHEME" value="com.sunpower.elc2" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-camera" spec="^4.1.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-nabto" spec="^2.6.3" />
    <plugin name="cordova-plugin-http" spec="^1.2.0" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
    <plugin name="cordova-plugin-wkwebviewxhrfix" spec="~0.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.2.0" />
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0" />
    <plugin name="scandit-cordova-datacapture-core" spec="^6.2.0" />
    <plugin name="scandit-cordova-datacapture-barcode" spec="^6.2.0" />
    <plugin name="cordova-plugin-networkinterface" spec="^2.0.0" />
    <plugin name="cordova-plugin-httpd" spec="^0.9.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="cordova-plugin-market" spec="~1.2.0" />
    <plugin name="cordova-plugin-androidx" spec="^2.0.0" />
    <plugin name="cordova-plugin-androidx-adapter" spec="^1.1.1" />
    <plugin name="cordova.plugins.diagnostic" spec="^6.0.2">
        <variable name="ANDROIDX_VERSION" value="1.+" />
    </plugin>
    <plugin name="cordova-clipboard" spec="^1.3.0" />
    <plugin name="cordova-plugin-wifiwizard2" spec="git+ssh://git@github.com/SunPower/WifiWizard2-private.git" />
    <plugin name="cordova-plugin-sunpowerble" spec="git+ssh://git@github.com/SunPower/cordova-plugin-sunpowerble.git" />
    <plugin name="cordova-plugin-ble-central">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="The app uses bluetooth to connect to PVS WiFi. Pro Connect needs to connect to your PVS to commission the devices." />
        <variable name="IOS_INIT_ON_LOAD" value="true" />
    </plugin>
</widget>
