@import '~@sunpower/theme-dark/styles/variables';

.ess-hc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .hc-missing-report {
    border: 1px solid $silver-sand3;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  .status-message {
    display: flex;
    flex-direction: column;
  }

  .discovery-percentage {
    line-height: 3rem;
  }

  &.gridit {
    display: grid;
    grid-template-rows: minmax(15px, 40px) 1fr;
    align-items: center;
    height: 100%;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    button {
      max-width: 120px;
    }
  }

  .collapsible.mb-10 {
    position: relative;
    overflow-x: scroll;
    .sp-hey,
    .sp-check {
      position: absolute;
      right: 12px;
      top: 12px;
    }
  }

  .check-in-progress {
    flex-direction: column;
  }
}
