@import "../../styles/variables";

.help-center-modal {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  align-items: center;

  .help-center {
    width: 100%;
    flex-grow: 0;
    flex-direction: column;

    &:last-child {
      flex-grow: 1;
    }

    &.columns {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .column {
      &:last-child {
        flex-grow: 0;
        margin-top: auto;
      }
    }

    .call-us {
      span {
        display: block;
        color: $black;
        font-size: $font-size;
      }
      letter-spacing: $letter-spacing-big;
      font-weight: $bold-text;
      text-transform: uppercase;
      .columns {
        margin: 0 auto;
        > div:first-child {
          margin: auto;
        }
      }

    }
  }
}
