@import '../../styles/variables';

.date-scroller {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  h3 {
    flex: 1;
    text-align: center;
    letter-spacing: 0;
    color: $white;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    font-size: $font-size-big;
  }

  svg:last-child {
    transform: rotate(180deg);
  }
}
