@import '~@sunpower/theme-dark/styles/variables';

.pvs-update-screen {
  display: grid;
  grid-template-rows:
    minmax(50px, 1fr) minmax(115px, 1fr) 1fr minmax(100px, 1fr)
    50px;
  justify-items: center;
  align-items: center;
  span {
    text-align: center;
  }
  .pvs-sn {
    flex-direction: column;
  }
  .percent-loader {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    width: 100%;
  }
  .sp-pvs {
    font-size: 7rem;
  }
  .actions.is-flex {
    flex-direction: column;
  }

  .update-percentage {
    line-height: 3rem;
  }
}
