.custom-loader{
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  height: 150px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
}
