@import '~@sunpower/theme-dark/styles/variables';

.energy-mix-container {
  .title {
    color: $white;
  }

  .subtitle {
    color: $white;
  }

  .percentage {
    text-align: center;
  }

  .energy-mix-chart {
    margin: auto;
    .home-usage-label {
      &-title {
        fill: $white;
        font-size: $font-size;
      }
      &-info {
        fill: $white;
        font-weight: $bold-text;
        font-size: $font-size-big;
      }
    }
  }

  .energy-source {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-label {
      font-size: $font-size-medium;
      color: $white;
      text-align: center;
      max-width: 50px;
      &.battery {
        max-width: 70px;
      }
      &.grid {
        max-width: 45px;
      }
    }
    &-info {
      font-size: $font-size-big;
      text-align: center;
      font-weight: $bold-text;
      &.yellow {
        color: $daisy;
      }
      &.orange {
        color: $sun;
      }
      &.blue {
        color: $blue-default;
      }
    }
  }

  .icons {
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
}
