@import '~@sunpower/theme-dark/styles/variables';

.share-icon {
  cursor: pointer;

  &.loader {
    display: initial;
  }
}

.share-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(50vh - 5rem);

  .share-item {
    min-width: 50%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    h3 {
      font-weight: $bold-text;
      font-size: $font-size;
      line-height: 1.125rem;
      text-align: center;
      letter-spacing: $letter-spacing-default;
      color: $silver-sand2;
      margin-top: 5px;
    }
  }
}
