.sn-manual-entry {
  .control-barcode {
    height: 6rem;
    flex-grow: 1;

    .field-barcode {
      width: 100%;
    }

    span.error {
      width: 235px;
      display: block;
      text-align: left;
    }
  }
  .control-add {
    flex-grow: 0;
  }

}
