.sn-manual-entry {
  .ifield {
    flex-grow: 1;
  }

  button[type='submit'] {
    flex-grow: inherit;
    height: 3rem;
    min-width: 64px;
  }

  span.error {
    display: block;
    text-align: left;
  }
}
