.sn-manual-entry {
  .is-grouped-centered {
    align-items: center;
  }

  .control-barcode {
    flex-grow: 1;

    .field-barcode {
      width: 100%;
    }

    span.error {
      width: 235px;
      display: block;
      text-align: left;
    }
  }
  .control-add {
    flex-grow: 0;

    button {
      border: none;
      background-color: transparent;
    }
  }

}
