.system-config {
  .collapsible {
    padding-bottom: 0.6rem;
  }
  .collapsible-content.expanded {
    min-height: 200px;
    button {
      padding: 0 20px;
    }
    overflow-x: hidden;
  }
}

.input[type='number'] {
  border: none;
  color: white;
  &::placeholder {
    color: white;
  }
}
