.system-config {
  .collapsible {
    padding-bottom: 0.6rem;
  }
  .collapsible-content.expanded {
    min-height: 200px;
    button {
      padding: 0 20px;
    }
    overflow-x: hidden;
  }
}

.empty {
  line-height: 1.5;
}

.input[type='number'] {
  border: none;
  color: white;
  &::placeholder {
    color: white;
  }
}

form .input:disabled,
.input[disabled] {
  background: #35404e !important;
  background-color: #35404e !important;
  opacity: 1;
}

.flex-column {
  flex-direction: column;
}

.message.error {
  text-align: justify;
  .button {
    display: block;
  }
}
