@import "../../styles/variables";

.backup-amount {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-qty {
    width: 3em;
    padding: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    h1:first-child {
      color: $white;
    }
    h1:last-child {
      color: $white;
      letter-spacing: $letter-spacing-default;
    }
  }

  &-text {
    width: 10em;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 2.5em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='176' height='81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.6' fill-rule='evenodd' clip-rule='evenodd' d='M10 0a3 3 0 0 0-3 3v28.07l-7 7 7 7V78a3 3 0 0 0 3 3h163a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H10z' fill='%2315202E'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    color: $white;
  }

  &-top {
    display: flex;
  }
}
