@import "../../styles/variables";

.scrollable-grid-item {
  opacity: 1;
  border-bottom: 1px solid #c4c7c7;

  .item-text {
    flex-grow: 1;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    letter-spacing: $letter-spacing-default;
    color: $black;
    align-content: center;
    align-items: center;
    word-break: break-word;
  }

  .item-icon {
    align-items: center;
  }
}
