@import 'variables';

/* Reset change autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $primary;
  -webkit-text-fill-color: $white-text-default;
  -webkit-box-shadow: 0 0 0px 1000px $black inset;
  box-shadow: 0 0 0px 1000px $black inset;
  transition: background-color 5000s ease-in-out 0s;
}

form {
  width: 100%;

  .input-light,
  .textarea-light {
    background: transparent !important;
    color: $black !important;
    border: 1px solid $gray-text-default !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0.5em 0;
    &::-webkit-input-placeholder {
      color: $gray-text-default !important;
    }
  }

  .input,
  .textarea {
    background: $black;
    color: $white-text-default;
    border: 0;
    &:focus,
    &:active {
      border: 0;
      outline: none;
      box-shadow: none;
    }
    &:disabled {
      background: $gray-border-default !important;
      opacity: 0.6;
    }
    &::-webkit-input-placeholder {
      color: $gray-text-default;
    }
  }

  .columns {
    flex-direction: column;

    .column {
      width: 100%;
      flex-grow: 0;

      &:last-child {
        margin-top: auto;
      }
    }
  }

  .control {
    text-align: right;

    .input.error {
      border: 2px solid $orange-dark;
    }

    span.error {
      font-size: $font-size;
      color: $orange-default;
      text-transform: uppercase;
    }

    .password-container {
      position: inherit;
      .toggle {
        cursor: pointer;
        position: absolute;
        z-index: 99;
        right: 1em;
        top: calc(50% - 0.75rem);
        color: $orange-default;
        border-radius: 4px;
        font-weight: $bold-text;
        font-size: $font-size;
        text-transform: uppercase;
        -webkit-tap-highlight-color: transparent;
        align-items: center;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
