@import 'variables';

.separator {
  border-bottom: 1px solid $navbar-white;
  width: 100%;

  &:not(.is-dotted):not(.is-gray) {
    width: calc(100% + 50px);
    margin-left: -25px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  &.is-full-width {
    width: calc(100% + 50px);
    margin-left: -25px;
  }

  &.is-gray {
    opacity: 0.5;
    border-bottom-color: $gray-text-default;
  }

  &.is-gray-alt {
    border-bottom-color: $gray-text-alt2;
  }

  &.is-dotted {
    border-bottom-style: dotted;
  }
  &.is-solid {
    border-bottom-style: solid;
  }
}
