.scan-labels {
  display: grid;
  grid-template-rows: 5fr 15fr 5fr 8fr 5fr;
  height: 100%;
  align-items: center;
  justify-content: center;

  .trigger-scan {
    width: fit-content;
    justify-self: center;
  }

  #scandit {
    height: 300px;
    width: 105%;
    margin-left: -10px;
  }
}
