@import '~@sunpower/theme-dark/styles/variables';

$headerHeight: 60px;

.menu-floating {
  position: absolute;
  top: $headerHeight;
  z-index: 1000;
  height: calc(100% - #{$headerHeight});
  background-color: $black;
  width: 100%;
}
