@import '~@sunpower/theme-dark/styles/variables';

$headerHeight: 60px;

.menu-floating {
  position: absolute;
  top: $headerHeight;
  z-index: 30;
  height: calc(100% - #{$headerHeight});
  background-color: $black;
  width: 100%;
  margin-top: env(safe-area-inset-top);
  padding-bottom: calc(4 * env(safe-area-inset-bottom));
}

.menuitems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  & > div > button {
    margin: auto;
  }
}
