@import '~@sunpower/theme-dark/styles/variables';

$headerHeight: 60px;

.menu-floating {
  position: absolute;
  top: $headerHeight;
  z-index: 30;
  height: calc(100% - #{$headerHeight});
  background-color: $black;
  width: 100%;
  margin-top: env(safe-area-inset-top);
  padding-bottom: calc(4 * env(safe-area-inset-bottom));
}

.menuitems {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > div > button {
    margin: auto;
  }

  .superuser-options {
    .tilex {
      background-color: rgba(196, 196, 196, 0.1);
      padding-top: 40px;
    }

    .sp {
      background: -webkit-linear-gradient(45deg, #b055f7, #25e3fd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text {
      background: -webkit-linear-gradient(45deg, #b055f7, #25e3fd);
    }
  }
}
