@import '../../styles/variables';

.home {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.energy-graph-container {
  .title {
    color: $white;
    white-space: nowrap;
  }

  .subtitle {
    color: $white;
    white-space: nowrap;
  }

  .icons {
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
}
