@import '~@sunpower/theme-dark/styles/variables';

.install-success-screen {
  max-width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
  text-align: center;
  .sp-pvs {
    font-size: 7rem;
  }
  .configure-button {
    letter-spacing: 0.25rem;
    border: none;
    background-color: transparent;
  }
}
