@import "../../styles/variables";

.scrollable-grid {
  display: grid;
  grid-auto-rows: minmax(2.5625rem, min-content);
  grid-auto-columns: 100%;
  grid-gap: 0;
  overflow-y: scroll;
  height: 19rem;
  background-color: $gray-background-default;
  flex-grow: 1;
}
