@import '~@sunpower/theme-dark/styles/variables';

.version-info {
  align-items: center;

  .main-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    width: 70%;

    span {
      display: block;
    }
  }

  .logo-container {
    background-color: $space;
    padding: 60px 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    svg {
      transform: scale(1.3);
    }
  }

  .data {
    background-color: $space-dark;
    padding: 40px 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
