@import "../../styles/variables";

.sp-social-share {
  flex-direction: column;
  justify-content: center;

  .white-text {
    color: $gray-text-alt;
  }

  .dark-text {
    color: $black;
  }

  h3 {
    text-align: center;
    font-weight: $bold-text;
    font-size: $font-size;
    line-height: 1rem;
    text-align: center;
    letter-spacing: $letter-spacing-big;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .share-icons {
    justify-content: space-between;
    height: 3rem;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;

    svg {
      cursor: pointer;
    }
  }
}
