@import "../../styles/variables";

.modal-block-item {
  box-shadow: 4px 4px 4px $gray-shadow-default;
  background: $white;
  color: $black;
  letter-spacing: $letter-spacing-big;
  padding: 2em 0 1em 0;
  height: 9rem;
  flex-grow: 0;
  margin-bottom: 0.625em;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;

  &.full-width {
    flex-basis: calc(100%);
  }

  &.half-width {
    flex-basis: calc(50% - 0.4rem);
  }

  .block-title,
  .block-label {
    font-size: $font-size;
    line-height: 16px;
    text-align: center;
    letter-spacing: $letter-spacing-big;
    color: $black;
    text-transform: uppercase;
    width: 7rem;

    &.success {
      color: $success-green;
    }

    &.warn {
      color: $orange-default;
    }

    &.error {
      color: $error-red;
    }
  }

  .block-title {
    font-weight: $bold-text;
  }

  .icon-container {
    align-content: center;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}
