@import '~@sunpower/theme-dark/styles/variables';

.button-link {
  background-color: $silver-sand4;
  padding: $font-size-big;
  font-family: $font;
  letter-spacing: 0;
  border-radius: 5px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 95% 1fr;

  .arrow-right {
    margin: auto;
  }
}
