.custom-layout {
  position: absolute;
  width: 100vw;
  .fill-parent{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
}
.with-footer {
  height: calc(100vh - 150px);
  overflow-y: auto;
}
.without-footer {
  height: calc(100vh - 130px);
}
