@import '~@sunpower/theme-dark/styles/variables';

.raitings {
  display: flex;
  justify-content: center;
  margin: 5px 0px;

  svg {
    path.outline {
      fill: $white;
      fill-opacity: 0.9;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      path.outline {
        fill: $sun;
        fill-opacity: 0.8;
      }
    }
  }
}
