@import "../../styles/variables";

.calendar {
   &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: -9px;
    right: 80%;
    bottom: auto;
    border-width: 0 7px 10px;
    border-style: solid;
    border-color: $white transparent;
  }

  &.right:before {
    right: 20%;
  }

  z-index: 999;
  position: relative;

  .datetimepicker .datepicker-nav .datepicker-nav-month, .datetimepicker .datepicker-nav .datepicker-nav-year {
    color: $black;
  }

  .datetimepicker .datepicker-nav .datepicker-nav-previous, .datetimepicker .datepicker-nav .datepicker-nav-next {
    color: $black;
  }

  .datepicker-nav {
    color: $black;
    background: transparent !important;
    button {
      padding: 0;
    }
  }

}


