@import '~@sunpower/theme-dark/styles/variables';

.saving-configuration {
  display: grid;
  vertical-align: middle;
  align-content: center;
  height: 100%;

  .success {
    button {
      padding: unset;
    }
  }

  .status-message {
    display: grid;
    grid-row-gap: 1em;
  }

  .error-message {
    background-color: $silver-sand4;
    padding: $font-size-big $font-size-big $font-size;
    border-radius: 5px;
    letter-spacing: 0;
    font-family: $font;
    font-size: $font-size;
    text-align: left;
  }

  .homeowner-creation {
    input:nth-of-type(1) {
      margin-top: 20px;
    }

    input {
      background: $dark;
      color: $loblolly;
      padding: 10px;
      border: none;
      border-radius: 10px;
      width: 90%;
      margin-bottom: 20px;
    }

    button {
      padding: 0 60px;
    }
  }
}

.ReactSwipeableBottomSheet--open,
.ReactSwipeableBottomSheet--closed {
  padding: 1rem 1rem 2rem 1rem;
  background-color: $light-black !important;
  border-radius: 20px;
  margin-bottom: 70px;
}
