@import '~@sunpower/theme-dark/styles/variables';

.error-list {
  display: grid;
  grid-template-rows: 10% 1fr 15%;
  align-items: start;
  height: 100%;

  & > h1 {
    letter-spacing: 1.1px;
  }

  &-header {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    align-items: center;
  }

  &-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .button-transparent {
    border: 1px solid $sun;
  }
  .actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

.warning-list {
  grid-template-rows: 10% 1fr 0.85fr;
}

.error-component {
  padding: 10px;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 40px;

  .error-text {
    display: flex;
    flex-direction: column;

    .error-title {
      text-transform: capitalize;
    }
  }

  .details {
    height: 100%;
    width: 100%;
  }
}
