@import '../../styles/variables';

.battery-settings-modal {
  .subsection {
    padding-top: 1.5rem;
    padding-bottom: 10px;

    &:last-child {
      margin-bottom: 20px;
    }
    .info {
      color: #838b98;
      &.enabled {
        color: #15202e;
      }
    }
    .radio-button-controls {
      align-items: center;
    }
  }
  .columns:not(:last-child) {
    margin: 0;
  }
  .button {
    &.start-back-up {
      width: 100%;
      height: 100%;
      color: $white;
      &:disabled {
        background-color: #f7921e;
      }
      &:hover {
        color: $white;
      }
    }
  }
}
