.development-banner {
  position: fixed;
  background-color: indianred;
  top: -1px;
  right: -42px;
  transform: rotateZ(45deg);
  width: 100px;
  text-align: center;
  color: white;
  z-index: 99999;
  font-size: xx-small;
}
