@import '~@sunpower/theme-dark/styles/variables';

.rma-add-devices {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .rma-form {
    flex-grow: 1;

    [type='number'] {
      color: $dark-blue;
    }
  }

  .rma-buttons {
    display: flex;
    justify-content: center;
  }
}
