@import '~@sunpower/theme-dark/styles/variables';

.data {
  overflow-x: hidden;
  flex-direction: column;
  .section {
    margin: auto 0;
  }
  span.sp-map {
    font-size: 4rem;
  }

  .eqs-status {
    background-color: $space-dark;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .no-meters-warning {
    background-color: $space-dark;
    border-radius: 10px;
    flex-direction: column;
  }
}
