@import '~@sunpower/theme-dark/styles/variables';

.precomm {

  &_checklist {
    &_row {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 90% 1fr;
      background-color: $dark;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      &_checkbox {
        justify-content: center;
      }
    }

    &_dont-remind {
      padding: 0.5rem 0;
      display: grid;
      grid-template-columns: 1fr 90%;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
    }
  }
}
