@import '~@sunpower/theme-dark/styles/variables';

.inventory-count {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(15px, 40px) 1fr 80px;

  .inline-buttons {
    justify-content: center;
  }

  .inventory-warning {
    .modal-inline-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;

      button {
        padding: unset;
      }
    }
  }
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  .double {
    grid-column: span 2;
  }

  .form-input {
    font-family: $font;
    letter-spacing: 0;
    font-weight: bold;
  }
}


.vertical-scroll {
  overflow-y: scroll;
}
