@import '~@sunpower/theme-dark/styles/variables';
.homeb {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 15px 1fr 1fr;

  .button-container {
    align-items: center;
  }

  > div > img {
    border: 3px solid $white;
    border-radius: 5px;
  }

  .bill-of-materials {
    width: 90%;
    border-collapse: collapse;
    border-style: hidden;
    border-bottom: 1px dashed $athens-transparent;
    td {
      border-top: 1px dashed $athens-transparent;
      border-bottom: 1px dashed $athens-transparent;
    }
    tr {
      td:first-child {
        width: 60%;
      }
    }
  }
}

button.is-borderless {
  border: none;
}
