@import "../../styles/variables";

.refer-a-friend {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    letter-spacing: $letter-spacing-big;
    margin-top: 1em;
  }

  &-bounty {
    font-weight: bold;
    color: $white;
    margin-top: 0.5em;
  }

  &-description {
    text-align: center;
    margin-bottom: 1em;
    font-size: $font-size;
  }
}
