@import '@sunpower/theme-dark/styles/_variables.scss';

.header {
  background: $black;
  height: 60px;
  position: relative;
  svg {
    margin: auto;
  }
  span {
    font-size: 22px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: $white;
  }
}

