@import '../../styles/variables';

.energy-graph-container {
  .share-icon-container {
    justify-content: flex-end;
  }
  .energy-graph {
    position: relative;
    .legend {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        font-size: $font-size;

        &:not(.hidden)::before {
          content: '\2713';
          margin-right: 3px;
        }

        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }

        &.hidden {
          opacity: 0.4;
        }
      }
    }
  }

  .energy-graph-loader {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
    background: rgba(4, 7, 10, 0.3);

    div {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-default;
      font-size: $font-size;
    }
  }
}
