@import '~@sunpower/theme-dark/styles/variables';

.debug-route{
  background-color: $silver-sand4;
  padding: $font-size-big;
  font-family: $font;
  letter-spacing: 0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  display: grid;
  grid-template-columns: 95% 1fr;
}
