@import "../../styles/variables";

.period-selector {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    letter-spacing: $letter-spacing-default;
    margin-right: 1em;
    color: $white;
    font-weight: $bold-text;
    padding-left: 1em;
  }
}
