@import "../../styles/variables";

.forgot-password {
  .container {
    flex-grow: 0;
    &:last-child {
      flex-grow: 1;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .title {
      h1 {
        font-weight: $bold-text;
        font-size: $font-size;
        line-height: 1rem;
        text-align: center;
        letter-spacing: $letter-spacing-big;
        text-transform: uppercase;
      }
    }

    .subtitle {
      h2 {
        width: 90%;
        margin: 0 auto;
      }
    }

    .link {
      font-size: $font-size;
      line-height: 1rem;
      text-align: center;
      letter-spacing: $letter-spacing-default;
      text-transform: uppercase;
    }
  }
}
