@import '~@sunpower/theme-dark/styles/variables';

.custom-footer {
  position: absolute;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  width: 100vw;
  height: 70px;
  background-color: $black;
}
