.error-detail-screen {
  display: flex;
  flex-direction: column;

  .self-align-left {
    align-self: flex-start;
  }

  & > button {
    align-self: center;
  }

  & > div {
    background-color: rgba(196, 196, 196, 0.1);
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
  }

  .affected-devices {
    display: flex;
    flex-direction: column;
    margin: 10px;

    ul {
      li {
        margin-left: 5px;
      }
    }
  }

  .error-info {
    ul,
    ol {
      padding: 0.6em 1.1em 0 1.1em;
    }

    li {
      padding-top: 0.6em;
    }

    p {
      padding-top: 0.6em;
    }
  }
}
