.cusint {
  width: 320px;
  max-width: 320px;
  height: 0;

  > div.level:not(:last-child) {
    margin-bottom: 0;
  }

  position: relative;
  .calendar {
    position: absolute;
    top: 30px;
  }
}
