@import "../../styles/variables";

.modal-navbar {
  background: $white;
  box-shadow: 0px 2px 6px $gray-text-default;

  .navbar-brand {
    padding-top: 2rem;
    justify-content: center;

    .navbar-item figure {
      height: 18px;
    }
  }

  .close-button {
    position: absolute;
    right: 0;
  }

  .back-button-container {
    position: absolute;
    left: 0;
  }

  svg {
    cursor: pointer;
    padding: 5px;
  }
}

.modal-section {
  padding-top: 5.5em !important;
  background: $gray-background-default;
  justify-content: space-between;
}
