@import "../../styles/variables";

section.about-wifi {
  padding-bottom: 1.5625rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;

  h5 {
    line-height: 1.3125em;
    margin-bottom: 0 !important;
    letter-spacing: 0 !important;
    text-rendering: optimizeLegibility;
  }

  p {
    font-size: $font-size;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  ol {
    font-size: $font-size;
    line-height: 1.6;
    margin-top: 0 !important;
    text-rendering: optimizeLegibility;
  }
}
