@import '~@sunpower/theme-dark/styles/variables';

.legacy-discovery-selector {
  display: grid;
  grid-template-rows: 5% 1fr;
  grid-row-gap: 15px;
  height: 100%;
  padding-bottom: 80px;
  font-family: $font;
  letter-spacing: 0;

  .page-header {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
    justify-content: center;
  }

  .settings-component {
    border-bottom: 1px solid $loblolly-transparent;
  }
}
