@import '../../styles/variables';

.modal-select {
  width: 100%;
  height: 56px;
  background-color: $gray-border-default;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  &.disabled {
    opacity: 0.2;
  }
  span {
    font-size: $font-size-big;
    line-height: 20px;
    letter-spacing: $letter-spacing-default;
    color: $black;

    &.text {
      flex-grow: 1;
    }

    &.text-left {
      font-weight: $bold-text;
    }
  }
}
