@import '~@sunpower/theme-dark/styles/variables';

.login {
  h1.heading {
    font-size: 14px;
  }

  .forgot {
    margin-bottom: 20%;
    margin-top: 30px;
  }

  .container {
    flex-grow: 0;
    &:last-child {
      flex-grow: 1;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  .tabs a {
    &:first-child {
      margin: 0 2em;
    }
  }

  .rememeber-me {
    text-align: left;

    label {
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: 0.05em;
      color: $loblolly;
      opacity: 0.5;

      input {
        margin-right: 0.375rem;
      }
    }
  }

  .link {
    font-size: $font-size;
    line-height: 1rem;
    text-align: center;
    letter-spacing: $letter-spacing-default;
    text-transform: uppercase;
  }

  .error-message {
    font-size: $font-size;
    line-height: 1rem;
    text-align: center;
    letter-spacing: $letter-spacing-default;
    text-transform: uppercase;
    color: $error-red;
    animation: fade 0.4s ease;

    border: 1px solid $tomato;
    padding: 10px;
    border-left: none;
    border-right: none;
    width: 130%;
    margin-left: -40px;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
