@import "../../styles/variables";

.signup-password {
  .container {
    margin-bottom: 0 !important;
    flex-grow: 0;
    &:last-child {
      flex-grow: 1;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  .info {
    text-align: left;
    color: $gray-text-alt;
    font-size: $font-size-big;
    ul {
      list-style: circle;
      font-weight: $light-text;
      line-height: 24px;
    }
  }
  .terms-agreement {
    label.checkbox:hover {
      color: $gray-text-alt2;
    }
    .error {
      text-align: right;
    }
  }
}
