@import '~@sunpower/theme-dark/styles/variables';

.storage-prediscovery {
  font-family: $font;
  letter-spacing: 0;

  .prediscovery-title {
    letter-spacing: 1px;
  }

  .prediscovery-content {
    text-align: center;
    flex-direction: column;
  }

  .prediscovery-retry {
    text-align: center;
    flex-direction: column;
  }
}
