@import '~@sunpower/theme-dark/styles/variables';

.qr-layout, .pvs-connection-lost-screen{
  height: 100%;
  display: grid;
  grid-template-rows: 50px minmax(100px, 170px) 60px 100px 150px;

  #scandit {
    // height: 330px;
    width: 105%;
    margin-left: -10px;
  }

  .manual-instructions {
    flex-direction: column;

    .network-details {
      flex-direction: column;
    }
  }
  .manual-entry{
    input {
      background: $dark;
      color: $loblolly;
      padding: 10px;
      border: none;
      border-radius: 10px;
      width: 90%;
    }
  }
}

.qr-icon{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  i{
    font-size: 8em;
  }
}

.ReactSwipeableBottomSheet--closed {
  display: none;
}

.ReactSwipeableBottomSheet--open, .ReactSwipeableBottomSheet--closed {
  padding: 1rem 1rem 2rem 1rem;
  background-color: $light-black !important;
  border-radius: 20px;
  margin-bottom: 70px;
}
