.qr-layout{
  height: 100%;
  display: grid;
  grid-template-rows: 10% 1fr 15%;

  #scandit {
    // height: 330px;
    width: 105%;
    margin-left: -10px;
  }
}

.qr-icon{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  i{
    font-size: 8em;
  }
}
