@import '~@sunpower/theme-dark/styles/variables';

.home {
  display: grid;
  grid-template-rows: auto 1fr auto;

  span.sp-map {
    font-size: 6rem;
  }

  .fill-page {
    overflow-y: scroll;
  }

  .ws {
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
  }

  .message {
    background-color: $silver-sand4;
    color: $white;
    display: grid;
    text-align: left;
    margin: 0 0 10px 0;
  }
}
